In [16]:
import pandas as pd

In [17]:
file_name = 'pre_processado.csv'

#columns = ['datetime', 'city', 'state', 'country', 'shape', 'duration_s', 'hours', 'comments', 'date_p', 'latitude', 'longitude']
df = pd.read_csv(file_name, header=0, error_bad_lines=False, warn_bad_lines=False)

In [18]:
df_us = df.loc[df['country'] == 'us']

In [19]:
df_states = pd.DataFrame(columns = ['states', 'lat', 'lon'])
df_states['states'] = df_us['state']
df_states['lat'] = df_us['latitude']
df_states['lon'] = df_us['longitude']

In [20]:
df_states

      states        lat         lon
0         tx  29.883056  -97.941111
1         tx  28.978333  -96.645833
2         hi  21.418056 -157.803611
3         tn  36.595000  -82.188889
4         ct  41.117500  -73.408333
...      ...        ...         ...
66511     tn  36.165833  -86.784444
66512     id  43.613611 -116.202500
66513     ca  38.297222 -122.284444
66514     va  38.901111  -77.265556
66515     ok  35.652778  -97.477778

[63553 rows x 3 columns]

In [8]:
df_ocorrencias = df_states['states'].to_frame()
qtd = df_states.groupby('states')['states'].count().to_frame()
qtd = qtd.rename(columns={'states': 'qtd'})

In [9]:
qtd.head()

         qtd
states
ak       311
al       629
ar       578
az      2362
ca      8683

In [10]:
df_states.set_index('states', inplace=True)

In [11]:
df_states.sort_index(inplace=True)
df_states

              lat         lon
states
ak      63.856944 -148.966111
ak      61.218056 -149.900278
ak      61.218056 -149.900278
ak      61.581389 -149.439444
ak      64.837778 -147.716389
...           ...         ...
wy      44.797222 -106.955556
wy      41.035833 -107.656944
wy      44.291111 -105.501667
wy      41.140000 -104.819722
wy      44.899444 -109.150278

[63553 rows x 2 columns]

In [12]:
df_states.reset_index()

      states        lat         lon
0         ak  63.856944 -148.966111
1         ak  61.218056 -149.900278
2         ak  61.218056 -149.900278
3         ak  61.581389 -149.439444
4         ak  64.837778 -147.716389
...      ...        ...         ...
63548     wy  44.797222 -106.955556
63549     wy  41.035833 -107.656944
63550     wy  44.291111 -105.501667
63551     wy  41.140000 -104.819722
63552     wy  44.899444 -109.150278

[63553 rows x 3 columns]

In [13]:
qtd.reset_index()

   states   qtd
0      ak   311
1      al   629
2      ar   578
3      az  2362
4      ca  8683
5      co  1385
6      ct   865
7      dc     7
8      de   165
9      fl  3754
10     ga  1235
11     hi   257
12     ia   669
13     id   508
14     il  2447
15     in  1268
16     ks   599
17     ky   843
18     la   547
19     ma  1238
20     md   818
21     me   544
22     mi  1781
23     mn   996
24     mo  1431
25     ms   368
26     mt   460
27     nc  1722
28     nd   123
29     ne   373
30     nh   482
31     nj  1236
32     nm   693
33     nv   778
34     ny  2915
35     oh  2251
36     ok   714
37     or  1667
38     pa  2319
39     pr    24
40     ri   224
41     sc   986
42     sd   177
43     tn  1091
44     tx  3398
45     ut   611
46     va  1248
47     vt   254
48     wa  3707
49     wi  1205
50     wv   438
51     wy   169

In [61]:
for index, row in qtd.iterrows:
    value = qtd

SyntaxError: unexpected EOF while parsing (<ipython-input-61-93b74ce2b141>, line 1)

In [23]:
states = list(df_states['states'])
states

['tx',
 'tx',
 'hi',
 'tn',
 'ct',
 'al',
 'fl',
 'ca',
 'nc',
 'ny',
 'ky',
 'nc',
 'ky',
 'mi',
 'ct',
 'ma',
 'ks',
 'sc',
 'wa',
 'tx',
 'ky',
 'ny',
 'ny',
 'ca',
 'co',
 'tx',
 'tx',
 'nh',
 'tx',
 'mi',
 'ny',
 'wi',
 'me',
 'co',
 'wa',
 'ca',
 'wa',
 'ga',
 'nc',
 'pa',
 'fl',
 'tx',
 'tn',
 'tx',
 'il',
 'tn',
 'ny',
 'ar',
 'mo',
 'sc',
 'oh',
 'in',
 'az',
 'ga',
 'mn',
 'ca',
 'az',
 'il',
 'nv',
 'nv',
 'wa',
 'nc',
 'tn',
 'ca',
 'ks',
 'tx',
 'ca',
 'wa',
 'ca',
 'nv',
 'ne',
 'or',
 'mi',
 'mo',
 'fl',
 'mo',
 'ky',
 'wa',
 'wa',
 'ia',
 'ca',
 'ia',
 'ca',
 'az',
 'va',
 'wi',
 'or',
 'wa',
 'oh',
 'or',
 'ca',
 'in',
 'va',
 'id',
 'mi',
 'sc',
 'nm',
 'wi',
 'nj',
 'in',
 'in',
 'wv',
 'ca',
 'il',
 'ny',
 'mn',
 'oh',
 'mo',
 'wi',
 'wa',
 'az',
 'fl',
 'ca',
 'pa',
 'tn',
 'fl',
 'wa',
 'nc',
 'mn',
 'tx',
 'ca',
 'ga',
 'tn',
 'va',
 'ok',
 'ga',
 'tx',
 'oh',
 'or',
 'ga',
 'co',
 'fl',
 'ca',
 'ny',
 'pa',
 'tx',
 'ga',
 'ga',
 'fl',
 'fl',
 'tx',
 'mn',
 'co',
 'pa',
 'tx',
 'co',
 'mn',
 'ny',
 'nv',
 'in',
 'ny',
 'ca',
 'az',
 'in',
 'mn',
 'pa',
 'wa',
 'co',
 'oh',
 'ca',
 'wi',
 'oh',
 'co',
 'ok',
 'az',
 'va',
 'ca',
 'nc',
 'va',
 'in',
 'ca',
 'ny',
 'pa',
 'oh',
 'sc',
 'ct',
 'sc',
 'va',
 'ct',
 'or',
 'tx',
 'ct',
 'il',
 'wa',
 'az',
 'ny',
 'ca',
 'fl',
 'ny',
 'nm',
 'az',
 'ny',
 'ri',
 'ct',
 'va',
 'ct',
 'oh',
 'pa',
 'ne',
 'oh',
 'ct',
 'ca',
 'mi',
 'ny',
 'ny',
 'co',
 'al',
 'ny',
 'nm',
 'il',
 'ca',
 'az',
 'wa',
 'tx',
 'tn',
 'wa',
 'ny',
 'ca',
 'fl',
 'mo',
 'oh',
 'vt',
 'la',
 'oh',
 'nh',
 'mi',
 'mn',
 'mi',
 'mi',
 'wv',
 'nh',
 'fl',
 'mi',
 'mn',
 'mo',
 'il',
 'il',
 'nm',
 'nj',
 'ca',
 'va',
 'ca',
 'pr',
 'tn',
 'in',
 'me',
 'ca',
 'al',
 'ca',
 'mi',
 'or',
 'ny',
 'ny',
 'ny',
 'ny',
 'mo',
 'nv',
 'or',
 'ks',
 'tx',
 'ar',
 'il',
 'ny',
 'ca',
 'ca',
 'wi',
 'ak',
 'co',
 'ms',
 'ca',
 'oh',
 'mo',
 'nv',
 'ma',
 'tx',
 'mn',
 'ny',
 'ca',
 'mi',
 'ca',
 'co',
 'in',
 'mo',
 'hi',
 'ca',
 'or',
 'nj',
 'ca',
 'ca',
 'ca',
 'ca',
 'tx',
 'fl',
 'ny',
 'fl',
 'mn',
 'ut',
 'az',
 'az',
 'az',
 'az',
 'al',
 'nj',
 'ia',
 'tn',
 'wa',
 'ca',
 'mn',
 'fl',
 'fl',
 'ca',
 'ok',
 'tx',
 'ny',
 'ky',
 'or',
 'or',
 'wa',
 'sc',
 'al',
 'tx',
 'ca',
 'nc',
 'ct',
 'md',
 'ca',
 'fl',
 'tx',
 'nm',
 'ca',
 'ny',
 'md',
 'mi',
 'az',
 'ky',
 'fl',
 'ri',
 'in',
 'wi',
 'ca',
 'ny',
 'fl',
 'ca',
 'mn',
 'ca',
 'ca',
 'ca',
 'il',
 'nv',
 'ut',
 'ia',
 'ma',
 'nc',
 'ky',
 'ma',
 'nj',
 'ma',
 'in',
 'md',
 'pa',
 'ny',
 'pa',
 'nm',
 'wa',
 'pa',
 'az',
 'il',
 'mi',
 'ia',
 'fl',
 'mi',
 'ks',
 'vt',
 'oh',
 'oh',
 'fl',
 'oh',
 'ky',
 'ma',
 'ga',
 'oh',
 'ny',
 'fl',
 'fl',
 'wi',
 'il',
 'oh',
 'mi',
 'ky',
 'mo',
 'wv',
 'nh',
 'ak',
 'nj',
 'il',
 'oh',
 'ok',
 'tn',
 'nc',
 'ms',
 'va',
 'pa',
 'ny',
 'wa',
 'ia',
 'or',
 'ny',
 'il',
 'mn',
 'ma',
 'me',
 'ca',
 'ny',
 'ar',
 'fl',
 'ny',
 'ca',
 'ks',
 'tx',
 'tx',
 'wa',
 'in',
 'va',
 'in',
 'or',
 'nv',
 'tn',
 'oh',
 'tx',
 'wv',
 'mn',
 'nj',
 'az',
 'oh',
 'ny',
 'fl',
 'ca',
 'ca',
 'nc',
 'la',
 'in',
 'ca',
 'md',
 'ny',
 'wa',
 'pa',
 'nj',
 'ca',
 'al',
 'pa',
 'nj',
 'mi',
 'mi',
 'ma',
 'nc',
 'or',
 'ca',
 'me',
 'fl',
 'mi',
 'nc',
 'oh',
 'ks',
 'or',
 'wv',
 'or',
 'nh',
 'nc',
 'id',
 'ky',
 'il',
 'ny',
 'ca',
 'me',
 'wa',
 'ca',
 'ny',
 'sc',
 'ca',
 'tn',
 'ar',
 'tn',
 'nv',
 'ga',
 'ga',
 'mo',
 'tx',
 'az',
 'oh',
 'mt',
 'ok',
 'ny',
 'ma',
 'ca',
 'mo',
 'nv',
 'pa',
 'ky',
 'pa',
 'il',
 'ny',
 'nh',
 'tx',
 'oh',
 'ny',
 'ca',
 'az',
 'tx',
 'mn',
 'tx',
 'ny',
 'nc',
 'wi',
 'sc',
 'ma',
 'il',
 'or',
 'va',
 'sc',
 'fl',
 'ut',
 'or',
 'or',
 'wa',
 'nm',
 'co',
 'ca',
 'il',
 'ca',
 'ca',
 'nh',
 'ia',
 'il',
 'wi',
 'tx',
 'il',
 'or',
 'oh',
 'ny',
 'ok',
 'nv',
 'fl',
 'mo',
 'wa',
 'mi',
 'ca',
 'ca',
 'az',
 'ca',
 'or',
 'md',
 'fl',
 'co',
 'mo',
 'tn',
 'ny',
 'mo',
 'mi',
 'me',
 'ny',
 'wa',
 'ny',
 'va',
 'ca',
 'wa',
 'wa',
 'wa',
 'wa',
 'co',
 'wa',
 'wa',
 'wa',
 'wa',
 'wa',
 'wa',
 'wi',
 'ny',
 'md',
 'az',
 'id',
 'nm',
 'wa',
 'fl',
 'ny',
 'ny',
 'ca',
 'wa',
 'ut',
 'ny',
 'me',
 'wa',
 'ca',
 'mi',
 'ca',
 'wa',
 'co',
 'ok',
 'ma',
 'oh',
 'ca',
 'nv',
 'nm',
 'va',
 'az',
 'mi',
 'mo',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'oh',
 'il',
 'il',
 'il',
 'il',
 'il',
 'il',
 'ky',
 'fl',
 'nm',
 'fl',
 'az',
 'ca',
 'fl',
 'mn',
 'tx',
 'ca',
 'ca',
 'oh',
 'ok',
 'mi',
 'il',
 'mi',
 'nm',
 'tx',
 'ca',
 'ny',
 'sc',
 'il',
 'mo',
 'ia',
 'wa',
 'md',
 'nv',
 'wa',
 'wa',
 'wa',
 'wa',
 'ny',
 'wa',
 'ca',
 'nm',
 'az',
 'nm',
 'nm',
 'az',
 'co',
 'co',
 'co',
 'co',
 'co',
 'co',
 'co',
 'nm',
 'nm',
 'co',
 'co',
 'co',
 'nm',
 'nm',
 'co',
 'co',
 'co',
 'co',
 'nm',
 'nm',
 'ca',
 'ca',
 'oh',
 'nc',
 'il',
 'oh',
 'nc',
 'hi',
 'nc',
 'tx',
 'ny',
 'fl',
 'ca',
 'ar',
 'oh',
 'ny',
 'wv',
 'va',
 'mo',
 'tx',
 'al',
 'ri',
 'tx',
 'ca',
 'wy',
 'wa',
 'tx',
 'nc',
 'id',
 'wa',
 'wa',
 'al',
 'wa',
 'in',
 'tx',
 'ca',
 'tn',
 'ga',
 'ri',
 'mi',
 'ok',
 'tn',
 'ri',
 'oh',
 'ms',
 'fl',
 'ct',
 'fl',
 'fl',
 'wi',
 'va',
 'tx',
 'tx',
 'va',
 'nc',
 'oh',
 'wa',
 'ca',
 'ga',
 'tx',
 'tx',
 'ms',
 'ca',
 'mo',
 'nc',
 'oh',
 'il',
 'ca',
 'ca',
 'mo',
 'mo',
 'wa',
 'ms',
 'ga',
 'fl',
 'tx',
 'co',
 'az',
 'fl',
 'ca',
 'il',
 'or',
 'ca',
 'wi',
 'mi',
 'ca',
 'mn',
 'in',
 'mi',
 'co',
 'md',
 'ca',
 'in',
 'pa',
 'pa',
 'co',
 'la',
 'ny',
 'fl',
 'fl',
 'ga',
 'tn',
 'mi',
 'ia',
 'ny',
 'wi',
 'pa',
 'pa',
 'ny',
 'al',
 'ks',
 'tn',
 'az',
 'nj',
 'ms',
 'ms',
 'nc',
 'ny',
 'ky',
 'fl',
 'co',
 'ca',
 'la',
 'il',
 'nh',
 'ne',
 'ut',
 'nc',
 'nc',
 'mt',
 'or',
 'ok',
 'pa',
 'az',
 'az',
 'wa',
 'az',
 'ok',
 'mn',
 'tx',
 'tn',
 'wv',
 'vt',
 'az',
 'az',
 'ok',
 'az',
 'fl',
 'fl',
 'co',
 'az',
 'ak',
 'ca',
 'tx',
 'ca',
 'nj',
 'az',
 'wa',
 'id',
 'tx',
 'fl',
 'tx',
 'ny',
 'ca',
 'pa',
 'ca',
 'in',
 'sc',
 'tx',
 'co',
 'wa',
 'ca',
 'md',
 'ny',
 'ca',
 'fl',
 'fl',
 'wa',
 'ca',
 'ca',
 'la',
 'fl',
 'in',
 'in',
 'az',
 'az',
 'az',
 'tx',
 'ca',
 'ma',
 'fl',
 'mi',
 'co',
 'ut',
 'mo',
 'ny',
 'fl',
 'pa',
 'ca',
 'wi',
 'ca',
 'pa',
 'ar',
 'pa',
 'ny',
 'pa',
 'pa',
 'nm',
 'pa',
 'ky',
 'wa',
 'tx',
 'tn',
 'va',
 'nv',
 'mi',
 'nh',
 'ga',
 'wa',
 'tx',
 'tx',
 'tx',
 'sd',
 'ca',
 'ca',
 'tx',
 'mi',
 'va',
 'tx',
 'al',
 'mo',
 'ma',
 'tx',
 'fl',
 'ia',
 'tn',
 'tx',
 'tn',
 'nc',
 'ut',
 'sc',
 'tx',
 'mt',
 'fl',
 'il',
 'pa',
 'pa',
 'tn',
 'tn',
 'or',
 'pa',
 'or',
 'az',
 'az',
 'fl',
 'fl',
 'me',
 'ct',
 'az',
 'md',
 'wi',
 'ok',
 'fl',
 'mi',
 'ak',
 'wv',
 'nj',
 'pa',
 'ct',
 'tx',
 'ny',
 'oh',
 'mo',
 'ny',
 'ak',
 'mo',
 'mi',
 'oh',
 'pa',
 'oh',
 'in',
 'va',
 'nc',
 'oh',
 'tx',
 'oh',
 'oh',
 'oh',
 'oh',
 'oh',
 'il',
 'oh',
 'co',
 'co',
 'oh',
 'ga',
 'il',
 'sc',
 'ca',
 'oh',
 'ca',
 'tx',
 'tn',
 'tn',
 'ct',
 'nc',
 'md',
 'mo',
 'ny',
 'nv',
 ...]

In [24]:
pesos = [states.count(s) for s in states]

In [26]:
len(pesos)

63553